<!DOCTYPE html>
<html lang="en" ng-app="forumSystem" ng-strict-di>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Forum System</title>
    <!-- Bootstrap core CSS -->
    @Styles.Render("~/css/libs")

    <!-- Custom styles for this template -->
    <style>
      body {
        padding-top: 54px;
      }
      @@media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }

      
      [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
      }


    </style>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
        <div class="container">
            <a class="navbar-brand visible-xs" href="#">Forum System</a>
            <button type="button" class="navbar-toggler" ng-click="isCollapsed = !isCollapsed">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" uib-collapse="isCollapsed" aria-expanded="false" aria-hidden="true" style="height: 0px;">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" ui-sref="threads" ui-sref-active="active">Forum Threads</a>
                    </li>
                    <li class="nav-item" >
                        <a  class="nav-link" ui-sref="threadCreate" ui-sref-active="active">Create new thread</a>

                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container">
        <ui-view></ui-view>
        @RenderBody()
        @RenderSection("SPAViews", required: false)

    </div>
    @Scripts.Render("~/js/libs")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/js/app")

</body>
</html>

